@import "~bulma";


.forecast {
    margin-bottom: 1em;
}


.image-container {
    display: inline-block;
}


.narrative {
    font-size: 0.75em;
    font-style: italic;
}


.waiting, .loading, .error {
    color: #d3d3d3;
}

.waiting-attention {
    font-size: 10em;
}

.error-attention {
    font-size: 8em;
}